[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/mru"]
	path = home/.vim/bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "home/.vim/bundle/align"]
	path = home/.vim/bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule "home/.vim/bundle/bufexplorer"]
	path = home/.vim/bundle/bufexplorer
	url = git://github.com/widox/vim-buffer-explorer-plugin.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/surround"]
	path = home/.vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/gitgutter"]
	path = home/.vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "home/.vim/bundle/puppet"]
	path = home/.vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "home/.vim/bundle/vim-trailing-whitespace"]
	path = home/.vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
